.header{
    width: 100%;
    height: 5rem;
    min-width: 100vw;
    padding: 0 2.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--light_gray);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.header__wrapper_img{
    width: 16.5%;
    height: 3rem;

}

.header > .container{
    display: flex;
    justify-content: space-between;
    width: 53.125rem;
}

.items_content{
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;

}
.input_group{
    width: 27.1%; 
    height: 3rem;
    padding: 0 8px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.input_group__label{
    width: 100%;
    font-size: 0.75rem;
    color: var(--red_secondary);
}
.input_group__input{
    width: 100%;
    padding: 4px 0;
    border: none;
}
 /* customization placeholder */
 .input_group__input::-webkit-input-placeholder{
    font-size: 0.75rem;
    font-weight: 700;
}
.input_group__input::-moz-placeholder {

    font-size: 0.75rem;
    font-weight: 700;
}

.input_group__input:focus,
.header__input_search:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.header__input_search{
    width: 41.7%;
    height: 3rem;
    padding: 0 8px;
    border: 1px solid var(--red_secondary);
    border-radius: 4px;
}

 /* customization placeholder */
.header__input_search::-webkit-input-placeholder{
    padding: 0 1.016rem;
    font-size: 0.875rem;
    color: #656363;
}
.header__input_search::-moz-placeholder {
    padding: 0 1.016rem;
    font-size: 0.875rem;
    color: #656363;

}

.items_content_icon{
    font-size: 2rem;
    margin: 0 8px;
    color: var(--red_primary);

}
.items_content__span{
    color: var(--red_primary);
    font-size: 1rem;
    letter-spacing: 0.2px;
}
.items_content__cart_qtd{
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 29%;
    top: 1px;
    text-align: center;
    background-color: var(--orange_secondary);
    color: #FFFFFF;
    border-radius: 50%;
}

.popOver_addedProd{
    position: absolute;
    margin-top: 3.438rem;
    right: 1%;
    z-index: 20;
    min-width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.688rem;
    background-color: #F8F8F8;
    filter: drop-shadow(0px -1px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.3;
}
.popOver_addedProd:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #F09035 transparent;
    transition-duration: 0.3s;
    transition-property: transform;
    text-align: left;
  }

.popOver_addedProd__title{
    width: 100%;
    background-color: var(--orange_secondary);
    padding: 9px;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
}
.popOver_addedProd__title p{

    font-size: 1.125rem;
    font-weight: 700;
    color: #FFFFFF;
}
.popOver_addedProd__content{
    width: 100%;
    height: 100%;
    padding: 8px 11px;
}

.popOver_addedProd__prod_name{
    font-weight: 700;
    font-size: 0.875rem;
    color: #BC2E31;
}
.popOver_addedProd__items_list{
   font-size:  0.75rem;
   color: var(--gray_dark);
   margin-left: 1.4rem;
}
.popOver_addedProd__content span{
    font-size: 12px;
}
.popOver_addedProd__item{
    padding: 2px 0;
}

/*  Breakpoints Tablet */

@media (min-width:768px) AND (max-width: 992px) {
    .container {
       width: 64%;
    }
    .input_group {
        width: 20%;
    }
    
    /* customization placeholder */
    .input_group__input::-webkit-input-placeholder{
        font-size: 0.7rem;
    }
    .input_group__input::-moz-placeholder {
        font-size: 0.7rem;
    }
    .header__input_search {
        width: 30.7%;
    }
    .header__input_search::-webkit-input-placeholder{
        font-size: 0.7rem;
    }
    .header__input_search::-moz-placeholder {
        font-size: 0.7rem;    
    }
    
    .items_content_icon {
        font-size: 1.5rem;
    }
    .items_content__span {
        font-size: .9rem;
    }

    .items_content > img{
        width: 1.5rem;
        height:1.5rem;
    }
}

/*  Breakpoints Mobile */

@media (max-width:767px){
    .header{
        justify-content: center;
    }
    .header__wrapper_img {
        width: 46.7%;
     
         margin: 0 ; 
    }
    .container{
        display: none !important;
    }
    .wrapper_img{
        width: 9.375rem;
        margin: 0;
    }
}